[submodule "gplearn"]
	path = gplearn
	url = https://github.com/krzysztof-kacprzyk/gplearn.git
[submodule "tvregdiff"]
	path = tvregdiff
	url = https://github.com/krzysztof-kacprzyk/tvregdiff.git
[submodule "derivative"]
	path = derivative
	url = https://github.com/krzysztof-kacprzyk/derivative.git